<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLVa0sJSBFhq4gOAqzzLoIs8j6LyKZ9VA</string>
	<key>GCM_SENDER_ID</key>
	<string>499281955773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NaiYingShih.Kiwee</string>
	<key>PROJECT_ID</key>
	<string>kiwee-bc49b</string>
	<key>STORAGE_BUCKET</key>
	<string>kiwee-bc49b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499281955773:ios:4d9f4280f64fcd18dae0d4</string>
</dict>
</plist>